[ req ]
default_bits = 2048
default_md = sha256
distinguished_name = subject
string_mask = utf8only
prompt = no

[ req_ext ]
basicConstraints = critical, CA:false
keyUsage = critical, nonRepudiation, digitalSignature, keyEncipherment, dataEncipherment
subjectAltName = URI:urn:secuac
subjectKeyIdentifier = hash

[ x509_ext ]
basicConstraints = critical, CA:false
keyUsage = critical, nonRepudiation, digitalSignature, keyEncipherment, dataEncipherment
subjectAltName = URI:urn:secuac
subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid,issuer:always
extendedKeyUsage = clientAuth

[ subject ]
countryName         = US
stateOrProvinceName = Massachusetts
localityName        = Cambridge
organizationName    = IRIS Community
commonName          = OPC UA Security Test Client